// ======= Colors =======
$default-color: #139EFA; // Blue
$colorPrimary: #02C43C; // Green
$colorSecondary: #A906E5; // Purple

// ======= mainMenu Variables =======
$menuItem_W: 100px;
$menuItem_H: 30px;
$menuItem_mar: 5px;
$menuItem_pad: 5px;
$menuItem_bg: $default-color;
$menuItem_hov: $colorPrimary;
$menuItem_txt: black;

/* ==== General ==== */
body {
  // background-color: #415DE5;
  // margin: 0;
    background-image: url(images/bnw.jpeg);
    // background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    // border-radius: 10px;
}

/*========= Footer =========*/
#footer {
  // font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  width:auto;
  height: 15px;
  text-align: center;
  color: white;
}

// ======= Header =======
// #header {
//     background-color: aqua;
//     height: 150px;
//     width: 100%;
// }

// ======= Employee Directory ======
#employees {
    background-color: yellow;
    height: 150px;
    width: 100%;
}

// ====== Tools =======
// #tools {
//     text-decoration-color: orange;
//     height: 150px;
//     width: 100%;
// }

// ======= Imports =======
@import 'adminMenu';
@import 'modal';
