<!-- ======= views/admin_menu.erb ======= -->

<!-- == dynamically create menu items == -->
<% menu_items_array = [ "Home", "Products", "Directory", "Tools" ] %>
<div id="menu-items">
  <% for z in menu_items_array %>
  <% h = z %>
    <% if z == "Home" %>
        <% h = "Home" %>
        <% z = "/" %>
    <% end %>
    <a href = <%= z %>>
      <div class="menu-item"> <%= h %></div>
    </a>
  <% end %>
</div>
