<!-- ======= view/signup_form.erb ======= -->
<h1>Signup</h1>

<!-- username, password, email, dob  -->

<form  id="signup_form" method="POST" action="/signup">
    <div><label for="username">Username</label><input type="text" name="username" value="alaska"></div>
    <div><label for="password">Password</label><input type="password" name="password" value="alaska"></div>
    <div><label for="email">Email</label><input type="email" name="email" value="alaska@gmail.com"></div>
    <div><label for="dob">Date of Birth</label><input type="dob" name="dob" value="June 2, 2015"></div>
    <input type="submit">
</form>
